body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/** Header */
header{
    display: flex;
    flex-flow: row wrap;
    background-color: #edebec;
    height: 120px;
}

.logo {
    height: 40px;
    margin: 40px;
    display: flex;
    flex-direction: row;
    width: 30%;
}
.nav-btn {
    margin: 40px 0;
    width: 60%;
    padding: 0;
}
.nav-btn li {
    display: inline-flex;
    text-transform: uppercase;
    width: 24%;
}

.nav-btn a {
    text-decoration: none;
    color: rgb(140, 139, 139);
}

.nav-btn a:hover {
    color: #bf024b;
}
/** Big image */
.main-img {
    position: relative;
    height: 650px;
    background-image: url("../images/bg-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.circle {  
    bottom: 60;
    right: 185; 
    position: absolute;
    z-index: 1002;
}

.circle-text {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    bottom: 80;
    right: 200;
    letter-spacing: 2px;
    text-align: center;
    position: absolute;
    z-index: 1003;
}

/** New Product */
.new-product {
    background-color: #e9e7e8;
    padding: 0 40px;
    display: flex;
}

.new-product img {
    width: 35%;
}

.new-product div{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

h2 {
    color: rgb(94, 74, 86);
    text-transform: uppercase;
    margin-top: 0;
    font-weight: 500;
    font-size: 20px;
}

.twist {
    color:  #db005c;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}

.new-product:nth-child(2) {
    color: rgb(94, 74, 86);
}

/** Small icons */
.small-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: #c6c700;
}

.small-icons div {
    width: 25%;
    text-align: center;
    margin: 30px;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}

/** Footer */
footer {
    text-align: center;
    background-color: #db005c;
    padding: 55px;
    color: white;
    font-size: 12px;
}

footer img {
    margin: 10px;
}

.fa-map-marker {
    color: white;
    font-size: 42px !important;
}